svg.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.hidden {
  display: none;
}

.buttons {
  float: right;
  padding: 3em;
  margin-right: 3em;
}

button {
  padding: 1em;
}
